<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamthat.com.onemusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        // Main khởi động
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EmotionActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".activity.HappyActivity"
            android:label="@string/activity_happy" />
        <activity
            android:name=".activity.SadActivity"
            android:label="@string/activity_sad" />
        <activity
            android:name=".activity.AngelActivity"
            android:label="@string/activity_angel" />
        <activity
            android:name=".activity.LocalMusicActivity"
            android:label="@string/localmusic" />
        <activity
            android:name=".activity.FavouriteMusicActivity"
            android:label="@string/facouritelmusic" />
        <activity
            android:name=".activity.FolderMusicActivity"
            android:label="@string/Foldermusic" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".activity.SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity android:name=".activity.ArtistMusicActivity" />
        <activity android:name=".activity.PlayerActivity" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:label="@string/activity_title_about_us" />

        <service android:name=".Service.BoundService" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="sendMaxTime" />
                />
            </intent-filter>
        </receiver>
        <activity android:name=".activity.PlaylistActivity">
        </activity>
        <activity android:name=".activity.AddplaylistActivity">
        </activity>
        <activity android:name=".activity.DeletePlayList">
            </activity>
    </application>

</manifest>